table {
  width: 100%;
  height: 120px;
  background-color: rgb(34, 31, 31);
}

img {
  height: 100px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  color: white;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;
  margin-left: 20%;
}

.first{
  width: 20%;
}

.second{
  width: 80%;
}
